<footer
  class="w-full min-h-40 fixed bottom-0 flex justify-center justify-self-center justify-items-center 
  pt-2 max-md:flex-col max-md:px-44 md:pt-10"
>
  <a routerLink="home" class="mr-20 font-thin hover:animate-bounce pb-2">HOME</a>
  <a routerLink="about" class="mr-20 font-thin hover:animate-bounce pb-2">ABOUT</a>
  <a routerLink="projects" class="mr-20 font-thin hover:animate-bounce pb-2">PROJECTS</a>
  <a routerLink="contact" class="mr-20 font-thin hover:animate-bounce pb-2">CONTACT</a>
</footer>
